# -----------------------------------------------------------------------------
# Dependencias
# -----------------------------------------------------------------------------
node_modules/
.pnp
.pnp.js

# -----------------------------------------------------------------------------
# Entornos y Secretos (¡CRÍTICO!)
# -----------------------------------------------------------------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# -----------------------------------------------------------------------------
# Archivos de compilación y empaquetado (Builds)
# -----------------------------------------------------------------------------
dist/
dist-ssr/
build/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -----------------------------------------------------------------------------
# Archivos del Sistema Operativo
# -----------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini

# -----------------------------------------------------------------------------
# Editores de código y configuraciones locales
# -----------------------------------------------------------------------------
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?